@font-face {
    font-family: LifeCraft;
    src: url("fonte\\LifeCraft.ttf");
}


html, body{
    background-image: url("img\\background.jpg");
    background-repeat: no-repeat;
    background-size: 103%;
    color: #FFFFFF;
    height: 98%;
    width: 98%;
    text-align: center;
    vertical-align: middle;
    font-family: LifeCraft;
}

div{
    font-size: 20px;
}

p {
    font-size: 25px;
    display: inline;
}

img {
    margin: auto;
    width: auto;
    height: auto;
}

table, tr, td {
    width: 100%;
    height: auto;
}

#telaPrincipal {
    position: relative;
    float: left;
    display: inline;
    margin-left: 10%;
    margin-top: 6px;
    width: 55%;
    height: 98%;
}

#telaObjeto {
    width: auto;
    height: 85%;
}

#objeto {
    padding-top: 25%;
    width: 250px;
    height: 250px;
}

#personagem {
    height: 300px;
    width: 300px;
}

#telaPontos {
    width: auto;
    height: 10%;
}

#cronometro {
    width: 50%;
    text-align: center;
    font-size: 25px;
}

#pontos {
    width: 50%;
    text-align: center;
    font-size: 25px;
}

#telaSecundaria {
    position: relative;
    float: left;
    display: inline;
    margin-top: 6px;
    width: 25%;
    height: 98%;
}

.upgrade {
    display: block;
    width: auto;
    height: 33%;
}

.upgradeImagem {
    display: block;
    margin: auto;
    margin-top: 2%;
    width: 300px;
    height: 150px;
}

.borda {
    /*border-width: 1px;
    border-style: solid;*/
}
